<b>IMPORTING LIBRARY</b>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
import seaborn as sns
import statsmodels.api as sm
import statsmodels.tsa.api as smt
import warnings
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

<b>Loading Data</b>

In [2]:
data = pd.read_csv("multiple_linear_regression.csv")

In [3]:
data.head()

   Feature 1  Feature 2  Feature 3  Target
0      230.1       37.8       69.2    22.1
1       44.5       39.3       45.1    10.4
2       17.2       45.9       69.3     9.3
3      151.5       41.3       58.5    18.5
4      180.8       10.8       58.4    12.9

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Feature 1  200 non-null    float64
 1   Feature 2  200 non-null    float64
 2   Feature 3  200 non-null    float64
 3   Target     200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

<b>DATA PREPROCESSING</b><br><br>
<b>Handling NULL Value</b>

In [5]:
data = data.dropna()
data.shape

(200, 4)

<b>Splitting Data</b>

In [7]:
output_col = "Target"
x = data.iloc[:, data.columns != output_col]
y = data.loc[:, output_col]

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.30, random_state=43)

In [9]:
x_train

     Feature 1  Feature 2  Feature 3
71       109.8       14.3       31.7
90       134.3        4.9        9.3
100      222.4        4.3       49.8
44        25.1       25.7       43.3
94       107.4       14.0       10.9
..         ...        ...        ...
58       210.8       49.6       37.7
21       237.4        5.1       23.5
49        66.9       11.7       36.8
64       131.1       42.8       28.9
68       237.4       27.5       11.0

[140 rows x 3 columns]

<font color="green" size="20"><b>Linear Regression</b></font>